<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkillSwap</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <nav class="navbar">
        <div class="logo-container">
            <img src="/skill swap.png" alt="Logo" />
            <h1 class="brand-title"> Welcome to SkillSwap</h1>

        </div>
        </div>

        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>

    <section class="hero-section">
        <h2 class="mission">Unlocking Potential Through Shared Knowledge and Professional Guidance</h2>
        <p class="subtext">For Students. By Students. Guided by Professionals.</p>
        <a href="register.html" class="cta-btn">Join Now</a>
    </section>

    <footer>
        <p>📧 support@skillswap.com | ☎ +91 9051656682</p>
    </footer>
    <!-- <script src="static/script.js"></script> -->
</body>

</html>